CourseTracker/*.iml
CourseTracker/*.gradle
CourseTracker/build/*
CourseTracker/*.properties
CourseTracker/mysql-connector-java-5.1.40-bin/*
CourseTracker/gradlew
CourseTracker/*.bat
CourseTracker/gradle/*
CourseTracker/app/build/*
CourseTracker/.gradle/*
CourseTracker/.idea/*
CourseTracker/.idea/
CourseTracker/.idea/misc.xml
README.md
LICENSE
.DS_Store
.idea/*
